.profile-container{
    position: relative;
    top: 95px;
    padding-top: 20px;
    display: flex;
    flex-flow: row;
}

app-profile-control-panel{
    width: 20vw;
}
app-display-board{
    width: 80vw;
}