.control-container{
    background-color: var(--panel-bg);
    top:0;
    height: calc(100vh - 96px);
    width: 20vw;
    overflow: hidden;
}

.inner{
    color: #fff;
    margin: 10px;
    display:flex;
    flex-flow: column;
    align-items: center
}

.sayhi{
    padding-top: 10px;
}
.user-icon img{
    height: 250px;
    width: 250px;
    border: transparent solid;
    border-radius: 50% 50%;
}

.social-stats{
    display: flex;
    flex-flow: row;
    width: 80%;
    justify-content: space-between;
    text-align: center;
}

.stats-item{
    width: 30%;
}
.stats-item p{
    margin: 0 0;
}
hr{
    color: rgba(170, 170, 170, 0.9);
    size: 1px;
    width:90%;
}
h5{
    font-family: 'Roboto Condensed', sans-serif;
}
.selectors-container{
    margin-top: 10px;
    width: 100%;
}
.selectors-container h5{
    text-align: left;
}
.selectors ul{
    padding: 0 10px;
}
.selectors li{
    list-style-type: none;
    background-color: var(--main);
    border-radius: 8px;
    margin: 8px;
    padding: 1px 5px;
    font-size: 15pt;
}
.selectors li:hover{
    background-color: #CCFFBB;
    color: #000;
    cursor: pointer;
}


/* Bookmarks */
.bookmark-head{
    display: flex;
    flex-flow: row;
    padding-right: 20px;
    justify-content: space-between;
}
.bookmarks ul{
    height: 300px;
    overflow-y: scroll;
}
.bookmarks ul::-webkit-scrollbar {
    display: none;
}
.add-btn{
    width: 2em;
    height: 2em;
    background: #1ecd97;;
    border-radius: 30%;
    cursor: pointer;
    order: 99;
}
.add-btn:before {
    width: 1em;
    height: 0.4em;
    content: '';
    display: block;
    position: absolute;
    transform: rotate(90deg);
    background: white;
    border-radius: 1em;
  }
.add-btn:after {
    width: 1em;
    height: 0.4em;
    content: '';
    display: block;
    background: white;
    border-radius: 1em;
  }
