<div class="control-container">
  <div class="inner" *ngIf="User">
    <h3 class="sayhi">Hi, {{User.firstName}}!</h3>
    <div class="user-icon">
      <img src={{User.profPicLink}}>
    </div>

    <hr>

    <div class="selectors-container">
      <div class="personal-publish selectors">
        <h5>Your Notes</h5>
        <ul>
          <li (click)="bookmarkService.getNotesBySelector('draft')">
            <a>Draft</a>
          </li>
          <li (click)="bookmarkService.getNotesBySelector('published')">
            <a>Published</a>
          </li>
        </ul>
      </div>
      <div class="bookmarks selectors">
        <div class="bookmark-head">
          <h5>Bookmarks</h5>
          <button class="add-btn" (click)="bookmarkService.showBookmarkForm()"></button>
        </div>
        <ul *ngIf="bookmarkService.bookmarksList">
          <li *ngFor="let bookmark of bookmarkService.bookmarksList" (click)="bookmarkService.getNotesBySelector(bookmark.id)">
            <a *ngIf="bookmark.bookmarkname" >{{bookmark.bookmarkname}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<app-bookmark-form class="bookmark-form" [ngStyle]="bookmarkService.BookmarkFormStyle"></app-bookmark-form>
