p{
    background-color: rgba( 254, 252, 215, 0.7);
}
h1{
    padding: 15px 20px 10px 20px;
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--form-bg);
}
.profile-display-container{
    height: 87vh;
    width: 80vw;
    overflow: scroll;
    background-color: var(--body-bg)
}
.items-contianer{
   display: flex;
   flex-flow: row wrap;
   margin: 0 auto;
   
}
.single-item{
   width: 30%;
   margin: 5px 15px;
   border-radius: 5px;
   background-color: var(--main-dark);
   box-shadow: 7px 7px 5px #555555;
}
.single-item .snapshot {
    height: 200px;
    align-content: center;
    text-align: center;
    overflow: hidden;
    background-color: var(--gray);
}
.single-item .snapshot img{
    height: 200px;
    margin: 2px 0px;
}
.meta{
    color: #fff;
    padding:5px 10px 2px 10px;
    background-color: var(--main);
}
.tag{
    color: rgba(255, 255, 255, 0.6)
}


/* Search Bar */
#search-bar-container{
    display: flex;
    justify-content: flex-end;
    margin-right:10px; 
}
#search-bar{
    border: var(--main) 5px solid;
    border-radius: 3px;
    background-color:  var(--main);
}
#search-term{
    width: 50vw;
}
#search-button{
    background-color:var(--main);
    border: none;
    color: #fff;
    cursor: pointer;
}
#search-button i:hover{
    font-size: 5pt;
}
