p{
    background-color: rgba( 254, 252, 215, 0.7);
}
h1{
    padding: 15px 20px 10px 20px;
    font-family: 'Roboto Condensed', sans-serif;
}
.profile-display-container{
    height: 87vh;
    overflow: scroll;
}
.items-contianer{
   display: flex;
   flex-flow: row wrap;
   margin: 0 auto;
   
}
.single-item{
   width: 30%;
   margin: 5px 15px;
   border: 3pt solid #71B238;
   border-radius: 5px;
   background-color: #71B238;
   box-shadow: 7px 7px 5px #555555;
}
.single-item .snapshot {
    height: 200px;
    align-content: center;
    text-align: center;
    overflow: hidden;
    background-color:#fefde6;
}
.single-item .snapshot img{
    height: 200px;
    margin: 2px 0px;
}
.meta{
    color: #fff;
    padding:5px 10px 2px 10px;
    background-color: #71B238;
}
.tag{
    color: rgba(255, 255, 255, 0.6)
}


/* Search Bar */
#search-bar-container{
    display: flex;
    justify-content: flex-end;
    margin-right:10px; 
}
#search-bar{
    border: #8FC357 5px solid;
    border-radius: 3px;
    background-color:  #8FC357;
}
#search-term{
    width: 50vw;
}
#search-button{
    background-color:#8FC357;
    border: none;
    color: #fff;
    cursor: pointer;
}
#search-button i:hover{
    font-size: 5pt;
}
