<div class="profile-display-container">
  <div class="title">
    <h1>{{group.name}}</h1>
  </div>
  <hr>
  <!-- <app-search-bar></app-search-bar> -->
  <div id="search-bar-container">
    <form>
      <div id="search-bar">
        <input type="text" id="search-term" name="search-term" placeholder="Enter your search term..." [(ngModel)]="term">
        <button type="submit" id="search-button">
          <i class="fa fa-search"></i>
        </button>
      </div>
      <label for="search-by">Search by :</label>
      <select name="search-by" id="search-by" (change)="searchByChange($event)">
        <option value="title">Title</option>
        <option value="author">Author</option>
        <option value="tags">Tags</option>
      </select>
    </form>
  </div>
  <div class="group-items-contianer" *ngIf="group">
    <div *ngFor="let item of group.elements | searchFilter:term:searchSelector" class="single-item">
      <div class="snapshot">
        <img src="/assets/img/cuttle.jpg">
      </div>
      <div class="meta">
        <h5 class="item-title">{{item.title}}</h5>
        <div class="item-author">
          <h5>By {{item.author}} </h5>
      </div>
    </div>
  </div>
</div>