<div class="explore-container">
  <div id="search-bar-container">
    <form>
      <div id="search-bar">
        <input type="text" id="search-term" placeholder="Enter your search term...">
        <button type="submit" id="search-button">
          <i class="fa fa-search"></i>
        </button>
      </div>
      <div id="search-by">
        <input type="checkbox" id="by-title" placeholder="by title">
        <label for="by-title">by title</label>
        <input type="checkbox" id="by-author">
        <label for="by-author">by author</label>
        <input type="checkbox" id="by-tags" placeholder="by tags">
        <label for="by-tags">by tags</label>
      </div>
    </form>
  </div>
  <div class="search-results">
  </div>
</div>