.explore-container{
    position: relative;
    display: flex;
    flex-flow: column;
    top: 100px;
    padding-top: 40px;
}

/* Search Bar */
#search-bar-container{
    align-self: center;
    margin-right:10px; 

}
#search-bar{
    border: #8FC357 5px solid;
    border-radius: 3px;
    background-color:  #8FC357;
}
#search-term{
    width: 50vw;
}
#search-button{
    background-color:#8FC357;
    border: none;
    color: #fff;
    cursor: pointer;
}
#search-button i:hover{
    font-size: 5pt;
}
.search-results{
    width: 100vw;
}
