<div class="explore-container">
  <div id="search-bar-container">
    <form>
      <div id="search-bar">
        <input type="text" id="search-term" name="search-term" placeholder="Enter your search term..." [(ngModel)]="term">
        <button type="submit" id="search-button">
          <i class="fa fa-search"></i>
        </button>
      </div>
      <label for="search-by">Search by :</label>
      <select name="search-by" id="search-by" (change)="searchByChange($event)">
        <option value="title">Title</option>
        <option value="author">Author</option>
        <option value="tags">Tags</option>
      </select>
    </form>
  </div>
  <div class="search-results">
  </div>
</div>