<script src="https://unpkg.com/sweetalert2@7.17.0/dist/sweetalert2.all.js"></script>

<!-- Note Editor -->
<div id="create-board-container">

  <div id='main-container'>
    <!-- Contorl Panel -->
    <div id='control-bar'>

      <!-- Note -->
      <div id="note-panel" class="panel">
        <div class="panel-head" (click)="panelActive('note')">
          <i class="fas fa-pencil-alt panel-icon"></i>
          <h3>Note</h3>
        </div>
        <div class="panel-collapse" [ngbCollapse]="noteCollapsed">
          <label>
            <strong>Title of Note</strong>
          </label>
          <br/>
          <input type="text" name="note-title" [(ngModel)]="note.title">
        </div>
      </div>

      <!-- Image -->
      <div id="image-panel" class="panel">
        <div class="panel-head" (click)="panelActive('image')">
          <i class="fas fa-image panel-icon"></i>
          <h3>Images</h3>
        </div>
        <div class="panel-collapse" [ngbCollapse]="imageCollapsed">
          <form action="/multer" method="post" enctype="multipart/form-data">
            <input id="file" type="file" accept=".jpg, .jpeg, .gif, .png" (change)="fileChangeEvent($event)" />
          </form>
        </div>
      </div>

      <!-- Pin -->
      <div id="pin-panel" class="panel">
        <div class="panel-head" (click)="panelActive('pin')">
          <i class="fas fa-thumbtack panel-icon"></i>
          <h3>Pins</h3>
        </div>
        <div class="panel-collapse" [ngbCollapse]="pinCollapsed">
          <p>Drag on blackboard to add pin.</p>
          <app-text-editor [pin]="selectedPin"></app-text-editor>
        </div>
      </div>

      <!-- Tags -->
      <div id="tags-panel" class="panel">
        <div class="panel-head" (click)="panelActive('tags')">
          <i class="fas fa-tags"></i>
          <h3>Tags</h3>
        </div>
        <div class="panel-collapse" [ngbCollapse]="tagsCollapsed">
          <div class="tags-input">
            <input type="text" size="15" name="tag" [(ngModel)]="newTag">
            <input type="submit" class="btn green " id="add-tag" value="Add Tag" (click)="addNewTag()">
          </div>
          <div class="tags-container" *ngIf="tagsList" >
            <ul >
              <li *ngFor="let tag of tagsList">#{{tag}}</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Publish -->
      <div id="publish-panel" class="panel">
        <div class="panel-head" (click)="panelActive('publish')">
          <i class="fab fa-leanpub panel-icon"></i>
          <h3>Publish</h3>
        </div>
        <div class="panel-collapse" [ngbCollapse]="publishCollapsed">
          <button class="btn green" id="save-draft" (click)="saveDraft()">Save as Draft</button>
          <button class="btn orange" id="publish" (click)="savePublish()">Publish</button>
        </div>
      </div>
    </div>

    <!-- Canvas -->
    <div id='canvas-container' (mouseup)="currentService.drop($event)" (mousemove)="currentService.move($event)">
      <div id='blackboard'>
        <div id="note-title">{{note.title}}</div>

        <!-- Image Template -->
        <div *ngIf="imageList" id="imageList" [ngStyle]="setImageLayer()">
          <div *ngFor='let image of imageList' id="imagers">
            <div class="image-frame resizable" [ngStyle]="image.style" (mousedown)="currentService.select(image,$event)">
              <img draggable="false" src={{image.url}}>
            </div>
          </div>
        </div>

        <!-- Pin Note Template -->
        <div *ngIf="pinList" id="pinList" [ngStyle]="setPinLayer()" (mousedown)="currentService.select($event)" (mousedown)="onSelect()">
          <div *ngFor='let pin of pinList' id="pins" [class.selected]="pin === selectedPin">
            <div class="pin-point" [ngStyle]="pin.style">
              <div class="pin-dot">
              </div>
              <div class="pin-textbox" [ngStyle]="pin.textboxUpright">
                <div class="text-container" [ngStyle]="pin.textboxPosition">
                  <p class="text-title">{{pin.title}}</p>
                  <p class="text-content">{{pin.content}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
