<!-- Navigation -->
<nav class="navbar navbar-expand-md fixed-top text-uppercase" id="mainNav">
  <!-- When User Logged In -->

  <img class="navbar-brand js-scroll-trigger" src="/assets/img/NoteBird_light.png" routerLink="/create">
  <button class="button-create mr-auto hide-btn" id="create-btn" routerLink="/create"  *ngIf="authService.isAuthenticated()">Create</button>

  <button class="navbar-toggler ml-auto navbar-toggler-right text-white rounded" type="button" (click)="isCollapsed = !isCollapsed" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" *ngIf="authService.isAuthenticated()">
      Menu
      <i class="fa fa-bars"></i>
  </button>

  <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed" id="navbarResponsive" *ngIf="authService.isAuthenticated()">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item mx-0 mx-lg-1">
        <a class="nav-link rounded js-scroll-trigger" routerLink="/explore" routerLinkActive="active" (click)="isCollapsed = true">EXPLORE</a>
      </li>
      <li class="nav-item mx-0 mx-lg-1">
        <a class="nav-link rounded js-scroll-trigger" (click)="onLogout()">LOG OUT</a>
      </li>
      <li class="nav-item mx-0 mx-lg-1 icon">
        <div class="user-icon zoom-in-1" (click)="isCollapsed = true">
          <a routerLink="/profile">
              <img *ngIf="User | async; let user" src="{{user.profPicLink}}">
          </a>
        </div>
      </li>
    </ul>
  </div>

</nav>
