.navbar-brand{
    height: 100px;
    background-color: #efffcc;
    border: #efffcc 2pt solid;
    border-radius: 2pt; 
    padding: 0px 8px;
    float: left;
}
.navbar{
    background-color:  #008000;
    z-index: 80;
}
.nav-container{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
} 
.user-icon img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 20px;
  
    object-fit: cover;
    object-position: center right;
}
#create-btn{
    height: 50%;
    align-self: center;
}
li a{
    color:#fff;
    transition: all 0.8s ease;
}
li a:hover{
    color: #008000;
    background-color: #efffcc;
}