/* Search Bar */
#search-bar-container{
    display: flex;
    justify-content: flex-end;
    margin-right:10px; 
}
#search-bar{
    border: var(--main) 5px solid;
    border-radius: 3px;
    background-color:  var(--main);
}
#search-term{
    width: 50vw;
}
#search-button{
    background-color:var(--main);
    border: none;
    color: #fff;
    cursor: pointer;
}
#search-button i:hover{
    font-size: 5pt;
}
