/* You can add global styles to this file, and also import other style files */
:root{
 --body-bg: #c1bdba;
 
 --panel-bg: #13232f;

 --main: #1ab188;
 --main-light: lighten(--main,5%);
 --main-dark: darken(--main,5%);
 --main-darker: darken(--main,10%);

 --gray-light: #a0b3b0;
 --gray-dark: #7A7A7A;
 --gray: #ddd;

 --thin: 300;
 --normal: 400;
 --bold: 600;
 --br: 4px;
}


/* Close Button */
.x-btn {
  width: 30px;
  height: 30px;
  background: transparent;
  border: 3px solid white;
  border-radius : 50% 50%;
  position: relative;
  cursor: pointer;
  display: inline-block;
  margin: 10px 10px;
  transition: 0.2s;
  outline: none;
}

.x-btn::after{
    width:20px;
    height:3px;
    background-color: white;
    content:"";
    left:50%;
    top:50%;
    margin-left:-10px;
    margin-top:-2px;
    position:absolute;
    transform:rotate(-45deg);
}
.x-btn::before{
    width:20px;
    height:3px;
    background-color: white;
    content:"";
    left:50%;
    top:50%;
    margin-left:-10px;
    margin-top:-2px;
    position:absolute;
    transform:rotate(45deg);
}
.x-btn:hover{
    transform: scale(1.1);
}
.x-btn:active{
    transform: scale(0.9);
    outline: none;
}
.x-btn:focus {
    outline:0;
}


html.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown), body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown){
    height: 100vh !important;
}


.submit-btn{
    display:block;
    text-decoration:none;
    margin-top: 30px; 
    padding:15px;
    background:var(--main);
    color:#fff;
    font-size:20px;
    width:30%;
    text-align:center;
    cursor:pointer;
    transition:.5s ease;
}
.cancel-btn{
    display:block;
    text-decoration:none;
    margin-top: 30px; 
    padding:15px;
    background:var(--gray-dark);
    color:#fff;
    font-size:20px;
    width:30%;
    text-align:center;
    cursor:pointer;
    transition:.5s ease;
}
.cancel-btn:hover{
    background-color: var(--gray);
    color: #333;
}