<div class="form-container">
  <div class="bookmark-form">
    <div class="form-header">
      <button class="x-btn right" (click)="this.bookmarkService.showBookmarkForm()"></button>
    </div>
    <div class="form-inner">
      <div class="form-title">
        <h2>New Bookmark</h2>
      </div>
      <div class="form-inputs">
        <form #f="ngForm" (ngSubmit)="onBookmarkFormSubmit(f)">
          <div class="form-group">
            <label for="bookmark-title">Name:</label>
            <input type="text" class="form-control" id="bookmark-title" required pattern="[a-zA-Z][a-zA-Z ]+" [(ngModel)]="bookmarkTitle" name="bookmark-title">
          </div>
          <div class="form-group">
            <label for="note-list">Elements:</label>
            <angular2-multiselect [data]="bookmarkService.notesList" [(ngModel)]="selectedItems" [settings]="dropdownSettings"                                   (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" 
            (onSelectAll)="onSelectAll($event)" 
            (onDeSelectAll)="onDeSelectAll($event)"
            name="note-list"
            required>
            </angular2-multiselect>
          </div>
          <div class="form-group buttons">
              <button type="submit" name="ok" class="submit-btn">OK</button>
              <div class="cancel-btn" (click)="this.bookmarkService.showBookmarkForm()">CANCEL</div>
          </div>
          <!-- <label for="bookmark-title">Name: </label>
          <input type="text" name="bookmark-title" required ngModel [(ngModel)]="bookmarkTitle">
          <label for="note-list">Elements:</label>
          <angular2-multiselect [data]="bookmarkService.notesList" [(ngModel)]="selectedItems" name="note-list"
          [settings]="dropdownSettings" 
         (onSelect)="onItemSelect($event)" 
         (onDeSelect)="OnItemDeSelect($event)"
         (onSelectAll)="onSelectAll($event)"
         (onDeSelectAll)="onDeSelectAll($event)"></angular2-multiselect>
          <div class="button-container">
            <button type="submit" name="ok" class="submit-btn">OK</button>
            <div class="cancel-btn" (click)="this.bookmarkService.showBookmarkForm()">CANCEL</div>
          </div> -->
        </form>
      </div>
    </div>
  </div>
</div>