.form-container{
    position: fixed;
    top: 0;
    left:0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
}
.bookmark-form{
    position: absolute;
    margin: 15vh 30vw;
    height: 70vh;
    width: 40vw;
    background-color: var(--panel-bg);
    color: #fff;
    display: flex;
    flex-flow: column;
}
.form-header{
   align-self: flex-end;
}
.form-inner{
    padding: 0 35px;
}
.form-title{
    margin-bottom: 20px;
}
.form-inputs form{
    display: flex;
    flex-flow: column;
}
.form-inputs form input{
    margin-bottom: 20px;
}
.button-container{
    display: flex;
    flex-flow:row;
    justify-content: flex-end;
}



